@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Hanken Grotesk";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(18, 11, 58);
  height: 100vh;
}
.container {
  max-width: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  border-radius: 10px;
}
.your-result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: auto;
  color: hsl(221, 100%, 96%);
  /* flex properties */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.result-txt {
  font-size: 14px;
  opacity: 85%;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  border: none;
  padding: 10px 25px;
  color: rgba(255, 255, 255, 0.423);
}
.digit {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.greeting {
  font-size: 20px;
}
.discription {
  font-size: 14px;
  text-align: center;
  opacity: 80%;
}
.summery {
  padding: 20px;
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 60px;
  gap: 20px;
}
.summery h3 {
  font-size: 20px;
}
.summery img {
  width: 20px;
  margin-right: 10px;
}
/* #summery-bars {
} */
.reaction-bar {
  display: flex;
  background-color: hsl(0, 37%, 96%);
  color: hsl(0, 99%, 63%);
  padding: 15px 20px;
  gap: 5px;
  border-radius: 5px;
  margin: 15px 1px;
}
.reaction-bar .reaction-txt {
  margin-right: auto;
}
.memory-bar {
  display: flex;
  gap: 50%;
  background-color: hsl(45, 100%, 97%);
  color: hsl(50, 100%, 50%);
  padding: 15px 20px;
  gap: 5px;
  border-radius: 5px;
  margin: 15px 1px;
}
.memory-bar .memory-txt {
  margin-right: auto;
}
.verbal-bar {
  display: flex;
  gap: 5px;
  background-color: hsl(166, 62%, 96%);
  color: hsl(166, 100%, 50%);
  padding: 15px 20px;
  gap: 5px;
  border-radius: 5px;
  margin: 15px 1px;
}
.verbal-bar .verbal-txt {
  margin-right: auto;
}
.visual-bar {
  display: flex;
  gap: 5px;
  color: hsl(234, 85%, 45%);
  background-color: hwb(231 95% 0%);
  padding: 15px 20px;
  gap: 5px;
  border-radius: 5px;
  margin: 15px 1px;
}
.visual-bar .visual-txt {
  margin-right: auto;
}
.continue-btn {
  padding: 15px 10px;
  border-radius: 30px;
  font-size: 20px;
  background-color: hsl(224, 30%, 27%);
  color: whitesmoke;
  border: none;
}
.continue-btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.3s ease;
}
/* Tablet/pc view: 600px*/
@media (min-width: 800px) {
  .container {
    flex-direction: row;
    width: 90%;
    max-width: 700px;
    height: auto;
    justify-content: center;
    align-items: stretch;
    background: none;
    justify-items: center;
    align-self: center;
  }

  .your-result,
  .summery {
    width: 50%;
    border-radius: 30px;
    padding: 30px;
    
  }
  .score{
    padding: 35px 55px;
    font-size: 24px;
  }.digit{
    font-size: 66px;
  }
  .greeting{

      font-size: 25px;
}
.discription{
    font-size: 18px;
}
  .your-result {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
  }

  .summery {
    border-top-right-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
  }

  .continue-btn {
    width: 100%;
    font-size: 18px;
    padding: 15px 0;
  }


  .reaction-bar,
  .memory-bar,
  .verbal-bar,
  .visual-bar {
    font-size: 16px;
  }
}
